{% extends "base.j2" %}

{% block main_content %}
<strong>Description: </strong><span>{{ error_description }}</span>
<br>
<strong>Error code: </strong><span>{{ error }}</span>
{% endblock main_content %}
